# Python 暫存檔
.venv/
build/
dist/

# 虛擬環境
venv/
.env

# PyInstaller 編譯結果 (不需要上傳)
build/
dist/
*.spec

# 作業系統暫存
.DS_Store (Mac)
Thumbs.db (Windows)

# EasyOCR 模型 (如果檔案太大，建議不推，讓 Actions 自動下載)
# assets/models/*.pth
unit_test
solo_ocr_Test.py